<a target="_blank" href="https://colab.research.google.com/github/lukebarousse/Python_Data_Analytics_Course/blob/main/4_Problems/1_25_Pandas Cleaning.ipynb">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

In [ ]:
import pandas as pd

df = pd.read_csv('/content/data_jobs.csv', on_bad_lines='skip')  # λειτουργεί με pandas >= 1.3.0
  # παραλείπει τις "σπασμένες" γραμμές

<ipython-input-7-a80b1d1b168d>:3: DtypeWarning: Columns (5,8,9) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('/content/data_jobs.csv', on_bad_lines='skip')  # λειτουργεί με pandas >= 1.3.0

In [ ]:
df

,job_title_short,job_title,job_location,job_via,job_schedule_type,job_work_from_home,search_location,job_posted_date,job_no_degree_mention,job_health_insurance,job_country,salary_rate,salary_year_avg,salary_hour_avg,company_name,job_skills,job_type_skills
0,Senior Data Engineer,Senior Clinical Data Engineer / Principal Clin...,"Watertown, CT",via Work Nearby,Full-time,False,"Texas, United States",2023-06-16 13:44:15,False,False,United States,NaN,NaN,NaN,Boehringer Ingelheim,NaN,NaN
1,Data Analyst,Data Analyst,"Guadalajara, Jalisco, Mexico",via BeBee México,Full-time,False,Mexico,2023-01-14 13:18:07,False,False,Mexico,NaN,NaN,NaN,Hewlett Packard Enterprise,"['r', 'python', 'sql', 'nosql', 'power bi', 't...","{'analyst_tools': ['power bi', 'tableau'], 'pr..."
2,Data Engineer,"Data Engineer/Scientist/Analyst, Mid or Senior...","Berlin, Germany",via LinkedIn,Full-time,False,Germany,2023-10-10 13:14:55,False,False,Germany,NaN,NaN,NaN,ALPHA Augmented Services,"['python', 'sql', 'c#', 'azure', 'airflow', 'd...","{'analyst_tools': ['dax'], 'cloud': ['azure'],..."
3,Data Engineer,LEAD ENGINEER - PRINCIPAL ANALYST - PRINCIPAL ...,"San Antonio, TX",via Diversity.com,Full-time,False,"Texas, United States",2023-07-04 13:01:41,True,False,United States,NaN,NaN,NaN,Southwest Research Institute,"['python', 'c++', 'java', 'matlab', 'aws', 'te...","{'cloud': ['aws'], 'libraries': ['tensorflow',..."
4,Data Engineer,Data Engineer- Sr Jobs,"Washington, DC",via Clearance Jobs,Full-time,False,Sudan,2023-08-07 14:29:36,False,False,Sudan,NaN,NaN,NaN,Kristina Daniel,"['bash', 'python', 'oracle', 'aws', 'ansible',...","{'cloud': ['oracle', 'aws'], 'other': ['ansibl..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
103653,Data Analyst,Corporate Real Estate Data Analyst,"Austin, TX",via Recruit.net,Full-time,False,"Texas, United States",2023-06-27 00:01:35,False,False,United States,NaN,NaN,NaN,CBRE,NaN,NaN
103654,Data Analyst,"Data Analyst II, Technical Support - Informati...",India,via Bayt.com,Full-time,False,India,2023-07-06 00:13:52,True,False,India,NaN,NaN,NaN,Bristol-Myers Squibb Company,"['sql', 'python', 'tableau', 'excel']","{'analyst_tools': ['tableau', 'excel'], 'progr..."
103655,Data Analyst,Assistant Manager - Data & Analytics,Singapore,via Recruit.net,Full-time,False,Singapore,2023-07-26 00:29:43,False,False,Singapore,NaN,NaN,NaN,Osim International Pte. Ltd.,"['sql', 'python', 'r', 'aws', 'azure', 'power ...","{'analyst_tools': ['power bi'], 'cloud': ['aws..."
103656,Senior Data Analyst,Senior data analyst,"Westlake Village, CA",via Talent.com,Full-time,False,"California, United States",2023-09-16 00:01:07,False,True,United States,year,150000.0,NaN,Kforce,NaN,NaN
103657,Data Engineer,Data Engineer,"Madrid, Spain",via EMPREGO,Full-time,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103658 entries, 0 to 103657
Data columns (total 17 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   job_title_short        103658 non-null  object
 1   job_title              103658 non-null  object
 2   job_location           103583 non-null  object
 3   job_via                103655 non-null  object
 4   job_schedule_type      102122 non-null  object
 5   job_work_from_home     103658 non-null  bool
 6   search_location        103657 non-null  object
 7   job_posted_date        103657 non-null  object
 8   job_no_degree_mention  103657 non-null  object
 9   job_health_insurance   103657 non-null  object
 10  job_country            103651 non-null  object
 11  salary_rate            3868 non-null    object
 12  salary_year_avg        2424 non-null    float64
 13  salary_hour_avg        1398 non-null    float64
 14  company_name           103655 non-null  object
 15  job_skills             87480 non-null   object
 16  job_type_skills        87480 non-null   object
dtypes: bool(1), float64(2), object(14)
memory usage: 12.8+ MB

---

## 🟩 Sort by Salary (1.25.1)

In [ ]:
df.sort_values(by = 'salary_year_avg',ascending=False,inplace=True)
df.head(10)

,job_title_short,job_title,job_location,job_via,job_schedule_type,job_work_from_home,search_location,job_posted_date,job_no_degree_mention,job_health_insurance,job_country,salary_rate,salary_year_avg,salary_hour_avg,company_name,job_skills,job_type_skills
168402,Data Analyst,Data Analyst,Anywhere,via Y Combinator,Full-time,True,India,2023-02-20 15:13:44,True,False,India,year,650000.0,NaN,Mantys,NaN,NaN
160521,Data Scientist,Staff Data Scientist/Quant Researcher,Anywhere,via LinkedIn,Full-time,True,Sudan,2023-08-16 16:11:58,False,False,Sudan,year,550000.0,NaN,Selby Jennings,"['python', 'sql']","{'programming': ['python', 'sql']}"
124265,Data Scientist,Data Scientist (L5) - Messaging,"Los Gatos, CA",via IT JobServe,Full-time,False,"California, United States",2023-08-17 08:04:09,False,False,United States,year,450000.0,NaN,Netflix,"['python', 'r', 'sql', 'spark', 'excel']","{'analyst_tools': ['excel'], 'libraries': ['sp..."
125706,Business Analyst,Principal Economist / Scientist,"San Mateo, CA",via Hitmarker,Full-time,False,"California, United States",2023-08-23 08:03:55,False,True,United States,year,387460.0,NaN,Roblox,"['python', 'r', 'sql', 'go', 'spark', 'airflow...","{'libraries': ['spark', 'airflow', 'hadoop'], ..."
225814,Senior Data Scientist,"Sr. Manager, Data Science","San Jose, CA",via Ladders,Full-time,False,"California, United States",2023-03-05 07:03:34,False,True,United States,year,375000.0,NaN,eBay,NaN,NaN
136230,Data Scientist,"Director, Data Science & Advanced Analytics","Austin, TX",via Ladders,Full-time,False,Sudan,2023-08-10 09:08:54,False,False,Sudan,year,375000.0,NaN,YETI Coolers,"['python', 'r', 'aws', 'hadoop', 'pyspark', 't...","{'analyst_tools': ['tableau'], 'cloud': ['aws'..."
78303,Senior Data Engineer,Senior Data Engineer (Live Streaming),United States,via LinkedIn,Full-time,False,"California, United States",2023-05-26 00:05:58,False,False,United States,year,375000.0,NaN,Engtal,NaN,NaN
23088,Senior Data Scientist,Sr AI/Data Science Director-Gastrointestinal,"Santa Clara, CA",via Ladders,Full-time,False,"California, United States",2023-03-03 13:03:56,False,False,United States,year,375000.0,NaN,Medtronic,"['python', 'java']","{'programming': ['python', 'java']}"
4907,Senior Data Engineer,Senior Data Engineer - VP,"Pittsburgh, PA",via Ladders,Full-time,False,"Florida, United States",2023-05-01 13:10:38,False,True,United States,year,375000.0,NaN,The Bank of New York Mellon Corporation,"['power bi', 'dax']","{'analyst_tools': ['power bi', 'dax']}"
18481,Data Scientist,Data Scientist,NaN,via LinkedIn,Full-time,False,"New York, United States",2023-09-27 13:02:16,False,False,United States,year,375000.0,NaN,Algo Capital Group,"['python', 'c++', 'sql', 'cassandra', 'hadoop'...","{'analyst_tools': ['tableau'], 'databases': ['..."

---

## 🟩 Create Remote Column (1.25.2)

In [ ]:
df['Remote_work'] = df.job_work_from_home
df

,job_title_short,job_title,job_location,job_via,job_schedule_type,job_work_from_home,search_location,job_posted_date,job_no_degree_mention,job_health_insurance,job_country,salary_rate,salary_year_avg,salary_hour_avg,company_name,job_skills,job_type_skills,Remote_work
168402,Data Analyst,Data Analyst,Anywhere,via Y Combinator,Full-time,True,India,2023-02-20 15:13:44,True,False,India,year,650000.0,NaN,Mantys,NaN,NaN,True
160521,Data Scientist,Staff Data Scientist/Quant Researcher,Anywhere,via LinkedIn,Full-time,True,Sudan,2023-08-16 16:11:58,False,False,Sudan,year,550000.0,NaN,Selby Jennings,"['python', 'sql']","{'programming': ['python', 'sql']}",True
124265,Data Scientist,Data Scientist (L5) - Messaging,"Los Gatos, CA",via IT JobServe,Full-time,False,"California, United States",2023-08-17 08:04:09,False,False,United States,year,450000.0,NaN,Netflix,"['python', 'r', 'sql', 'spark', 'excel']","{'analyst_tools': ['excel'], 'libraries': ['sp...",False
125706,Business Analyst,Principal Economist / Scientist,"San Mateo, CA",via Hitmarker,Full-time,False,"California, United States",2023-08-23 08:03:55,False,True,United States,year,387460.0,NaN,Roblox,"['python', 'r', 'sql', 'go', 'spark', 'airflow...","{'libraries': ['spark', 'airflow', 'hadoop'], ...",False
225814,Senior Data Scientist,"Sr. Manager, Data Science","San Jose, CA",via Ladders,Full-time,False,"California, United States",2023-03-05 07:03:34,False,True,United States,year,375000.0,NaN,eBay,NaN,NaN,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
253744,Data Scientist,Hispam -Digital Data Scientist,"Lima, Peru",via BeBee,Full-time,False,Peru,2023-10-05 07:26:58,False,False,Peru,NaN,NaN,NaN,Telefónica,NaN,NaN,False
253745,Senior Data Scientist,Senior Data Scientist,United States,via Trabajo.org,Full-time,False,"Texas, United States",2023-02-06 07:06:52,False,False,United States,NaN,NaN,NaN,WestRock Company,"['python', 'r', 'java', 'spark', 'spss']","{'analyst_tools': ['spss'], 'libraries': ['spa...",False
253746,Senior Data Engineer,Senior Data Engineer,Singapore,via Jooble,Full-time,False,Singapore,2023-08-02 07:52:29,False,False,Singapore,NaN,NaN,NaN,RegASK,['python'],{'programming': ['python']},False
253747,Data Scientist,TS/SCI Data Scientist with Security Clearance,"Leesburg, VA",via BeBee,Full-time,False,"New York, United States",2023-10-19 07:23:26,False,True,United States,NaN,NaN,NaN,"Zachary Piper Solutions, LLC","['python', 'r', 'scala', 'hadoop', 'pandas', '...","{'analyst_tools': ['excel'], 'libraries': ['ha...",False
253748,Data Analyst,Data A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

---

## 🟩 Extract Year from Date (1.25.3)

In [ ]:
df['job_posted_date'] = pd.to_datetime(df.job_posted_date)
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 253749 entries, 168402 to 253748
Data columns (total 18 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   job_title_short        253749 non-null  object
 1   job_title              253749 non-null  object
 2   job_location           253484 non-null  object
 3   job_via                253745 non-null  object
 4   job_schedule_type      249704 non-null  object
 5   job_work_from_home     253748 non-null  object
 6   search_location        253748 non-null  object
 7   job_posted_date        253748 non-null  datetime64[ns]
 8   job_no_degree_mention  253748 non-null  object
 9   job_health_insurance   253748 non-null  object
 10  job_country            253733 non-null  object
 11  salary_rate            10243 non-null   object
 12  salary_year_avg        6773 non-null    float64
 13  salary_hour_avg        3354 non-null    float64
 14  company_name           253746 non-null  object
 15  job_skills             215060 non-null  object
 16  job_type_skills        215060 non-null  object
 17  Remote_work            253748 non-null  object
dtypes: datetime64[ns](1), float64(2), object(15)
memory usage: 36.8+ MB

In [ ]:
df['job_posted_year'] = df.job_posted_date.dt.year
df

,job_title_short,job_title,job_location,job_via,job_schedule_type,job_work_from_home,search_location,job_posted_date,job_no_degree_mention,job_health_insurance,job_country,salary_rate,salary_year_avg,salary_hour_avg,company_name,job_skills,job_type_skills,Remote_work,job_posted_year
168402,Data Analyst,Data Analyst,Anywhere,via Y Combinator,Full-time,True,India,2023-02-20 15:13:44,True,False,India,year,650000.0,NaN,Mantys,NaN,NaN,True,2023.0
160521,Data Scientist,Staff Data Scientist/Quant Researcher,Anywhere,via LinkedIn,Full-time,True,Sudan,2023-08-16 16:11:58,False,False,Sudan,year,550000.0,NaN,Selby Jennings,"['python', 'sql']","{'programming': ['python', 'sql']}",True,2023.0
124265,Data Scientist,Data Scientist (L5) - Messaging,"Los Gatos, CA",via IT JobServe,Full-time,False,"California, United States",2023-08-17 08:04:09,False,False,United States,year,450000.0,NaN,Netflix,"['python', 'r', 'sql', 'spark', 'excel']","{'analyst_tools': ['excel'], 'libraries': ['sp...",False,2023.0
125706,Business Analyst,Principal Economist / Scientist,"San Mateo, CA",via Hitmarker,Full-time,False,"California, United States",2023-08-23 08:03:55,False,True,United States,year,387460.0,NaN,Roblox,"['python', 'r', 'sql', 'go', 'spark', 'airflow...","{'libraries': ['spark', 'airflow', 'hadoop'], ...",False,2023.0
225814,Senior Data Scientist,"Sr. Manager, Data Science","San Jose, CA",via Ladders,Full-time,False,"California, United States",2023-03-05 07:03:34,False,True,United States,year,375000.0,NaN,eBay,NaN,NaN,False,2023.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
253744,Data Scientist,Hispam -Digital Data Scientist,"Lima, Peru",via BeBee,Full-time,False,Peru,2023-10-05 07:26:58,False,False,Peru,NaN,NaN,NaN,Telefónica,NaN,NaN,False,2023.0
253745,Senior Data Scientist,Senior Data Scientist,United States,via Trabajo.org,Full-time,False,"Texas, United States",2023-02-06 07:06:52,False,False,United States,NaN,NaN,NaN,WestRock Company,"['python', 'r', 'java', 'spark', 'spss']","{'analyst_tools': ['spss'], 'libraries': ['spa...",False,2023.0
253746,Senior Data Engineer,Senior Data Engineer,Singapore,via Jooble,Full-time,False,Singapore,2023-08-02 07:52:29,False,False,Singapore,NaN,NaN,NaN,RegASK,['python'],{'programming': ['python']},False,2023.0
253747,Data Scientist,TS/SCI Data Scientist with Security Clearance,"Leesburg, VA",via BeBee,Full-time,False,"New York, United States",2023-10-19 07:23:26,False,True,United States,NaN,NaN,NaN,"Zachary Piper Solutions, LLC","['python', 'r', 'scala', 'hadoop', 'pandas', '...","{'analyst_tools': ['excel'], 'libraries': ['ha...",False,2023.0
253748,Data Analyst,Data A,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

---

## 🟨 Drop Missing Salaries (1.25.4)

In [ ]:
df.salary_year_avg

168402    650000.0
160521    550000.0
124265    450000.0
125706    387460.0
225814    375000.0
            ...
253744         NaN
253745         NaN
253746         NaN
253747         NaN
253748         NaN
Name: salary_year_avg, Length: 253749, dtype: float64

In [ ]:
df.dropna(subset= ['salary_year_avg'],inplace=True)
df

,job_title_short,job_title,job_location,job_via,job_schedule_type,job_work_from_home,search_location,job_posted_date,job_no_degree_mention,job_health_insurance,job_country,salary_rate,salary_year_avg,salary_hour_avg,company_name,job_skills,job_type_skills,Remote_work,job_posted_year
168402,Data Analyst,Data Analyst,Anywhere,via Y Combinator,Full-time,True,India,2023-02-20 15:13:44,True,False,India,year,650000.0,NaN,Mantys,NaN,NaN,True,2023.0
160521,Data Scientist,Staff Data Scientist/Quant Researcher,Anywhere,via LinkedIn,Full-time,True,Sudan,2023-08-16 16:11:58,False,False,Sudan,year,550000.0,NaN,Selby Jennings,"['python', 'sql']","{'programming': ['python', 'sql']}",True,2023.0
124265,Data Scientist,Data Scientist (L5) - Messaging,"Los Gatos, CA",via IT JobServe,Full-time,False,"California, United States",2023-08-17 08:04:09,False,False,United States,year,450000.0,NaN,Netflix,"['python', 'r', 'sql', 'spark', 'excel']","{'analyst_tools': ['excel'], 'libraries': ['sp...",False,2023.0
125706,Business Analyst,Principal Economist / Scientist,"San Mateo, CA",via Hitmarker,Full-time,False,"California, United States",2023-08-23 08:03:55,False,True,United States,year,387460.0,NaN,Roblox,"['python', 'r', 'sql', 'go', 'spark', 'airflow...","{'libraries': ['spark', 'airflow', 'hadoop'], ...",False,2023.0
225814,Senior Data Scientist,"Sr. Manager, Data Science","San Jose, CA",via Ladders,Full-time,False,"California, United States",2023-03-05 07:03:34,False,True,United States,year,375000.0,NaN,eBay,NaN,NaN,False,2023.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
219558,Software Engineer,(Senior/Lead) Backend Software Engineer - Open...,Anywhere,via Levels.fyi,Full-time,True,Vietnam,2023-09-29 22:12:36,False,False,Vietnam,year,28000.0,NaN,Axon,"['java', 'scala', 'go', 'c#', 'sql', 'nosql', ...","{'programming': ['java', 'scala', 'go', 'c#', ...",True,2023.0
248548,Data Engineer,Data Engineer (Remote),Anywhere,via Built In,Full-time,True,Sudan,2023-03-04 07:35:55,False,True,Sudan,year,25000.0,NaN,DrivenIQ,"['python', 'sql', 'nosql', 'aws', 'hadoop', 's...","{'analyst_tools': ['excel'], 'cloud': ['aws'],...",True,2023.0
252564,Data Analyst,Research Scientist,Anywhere,via ZipRecruiter,Full-time,True,"California, United States",2023-07-17 07:05:58,False,True,United States,year,25000.0,NaN,ED-Energy Storage & Distributed R,NaN,NaN,True,2023.0
213687,Data Engineer,Data Engineer Jobs In Flipdish for Engineering...,"Karachi, Pakistan",via Get Daily Fresh Jobs Opportunity,Full-time,False,Pakistan,2023-09-23 22:28:39,False,False,Pakistan,year,24000.0,NaN,Flipdish,"['python', 'java', 'scala', 'sql', 'nosql', 'h...","{'analyst_tools': ['excel'], 'libraries': ['ha...",False,2023.0
130855,Data Engineer,Showwcase Elite - Data Engineer,Anywhere,via Wellfound,Full-time,True,Australia,2023-07-07 08:20:46,False,False,Australia,year,20000.0,NaN,Showwcase,"['go', 'sql', 'python', 'react', 'flutter', 'a...","{'libraries': ['react', 'flutter', 'airflow'],...",True,2023.0

---