<a target="_blank" href="https://colab.research.google.com/github/lukebarousse/Python_Data_Analytics_Course/blob/main/4_Problems/1_26_Pandas Analysis.ipynb">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

In [ ]:
import pandas as pd

df = pd.read_csv("hf://datasets/lukebarousse/data_jobs/data_jobs.csv")

/usr/local/lib/python3.11/dist-packages/huggingface_hub/utils/_auth.py:94: UserWarning:
The secret `HF_TOKEN` does not exist in your Colab secrets.
To authenticate with the Hugging Face Hub, create a token in your settings tab (https://huggingface.co/settings/tokens), set it as secret in your Google Colab and restart your session.
You will be able to reuse this secret in all of your notebooks.
Please note that authentication is recommended but still optional to access public models or datasets.
  warnings.warn(

---

## ðŸŸ© Calculate Mean Salary (1.26.1)

In [ ]:
mean_salary = df.salary_year_avg.mean()
print(mean_salary)

123286.27407182401

---

## ðŸŸ© Calculate Median Salary (1.26.2)

In [ ]:
median_salary = df.salary_year_avg.median()
print(median_salary)

115000.0

---

## ðŸŸ¨ Average Hourly Salary by Job Title (1.26.3)

In [ ]:
avg_hourly_by_job = df.groupby('job_title_short')['salary_hour_avg'].mean()
avg_hourly_by_job

job_title_short
Business Analyst             42.723415
Cloud Engineer               45.560715
Data Analyst                 38.106918
Data Engineer                57.196998
Data Scientist               49.361403
Machine Learning Engineer    48.477935
Senior Data Analyst          47.661218
Senior Data Engineer         62.848496
Senior Data Scientist        54.105631
Software Engineer            46.452019
Name: salary_hour_avg, dtype: float64

---

## ðŸŸ¨ Job with Lowest Salary (1.26.4)

In [ ]:
min_hourly_index = df.salary_hour_avg.idxmin()

In [ ]:
min_hourly_job = df.iloc[min_hourly_index][['job_title_short','salary_hour_avg']]

print(min_hourly_job)

job_title_short    Data Scientist
salary_hour_avg               8.0
Name: 88185, dtype: object

---

## ðŸŸ¨ Job Count by Country (1.26.5)

In [ ]:
df.groupby('job_country').size()

job_country
Afghanistan      16
Albania         119
Algeria         111
Angola           11
Argentina      8736
               ...
Venezuela        69
Vietnam        2414
Yemen            10
Zambia          104
Zimbabwe         81
Length: 160, dtype: int64

---