<a target="_blank" href="https://colab.research.google.com/github/lukebarousse/Python_Data_Analytics_Course/blob/main/4_Problems/2_02_Pandas Data Cleaning.ipynb">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

In [1]:
# Importing Libraries
import pandas as pd
from datasets import load_dataset
import matplotlib.pyplot as plt  

# Loading Data
dataset = load_dataset('lukebarousse/data_jobs')
df = dataset['train'].to_pandas()

# Data Cleanup
df['job_posted_date'] = pd.to_datetime(df['job_posted_date'])

## ðŸŸ© Remove Rows with Missing Values (2.2.1)

In [12]:


df_filter = df_filter.dropna(subset = 'salary_year_avg')
rows_after = len(df_filter)

rows_after

22003

---

## ðŸŸ¨ Remove Duplicate Rows (2.2.2)

In [13]:
rows_before = df.shape[0]
df_unique = df.drop_duplicates(subset=['job_location'])
rows_after = df_unique.shape[0] 

rows_before,rows_after

(22003, 2054)

---

## ðŸŸ¨ Fill Missing Values in Column (2.2.3)

In [19]:
salary_rate_before = df.salary_rate.head(10)
df_filled = df.fillna({'salary_rate': 'Unknown'})
salary_rate_after = df_filled.salary_rate.head(10)
salary_rate_before, salary_rate_after

(28     year
 77     year
 92     year
 100    year
 109    year
 116    year
 146    year
 180    year
 212    year
 257    year
 Name: salary_rate, dtype: object,
 28     year
 77     year
 92     year
 100    year
 109    year
 116    year
 146    year
 180    year
 212    year
 257    year
 Name: salary_rate, dtype: object)

---